---
// 使用 HTML meta 重定向到英语版本
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/en" />
    <title>Redirecting to English version...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/en">English version</a>...</p>
  </body>
</html>